body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cardGrid{
  width:100%;
margin:100px 0%;
display:flex;
flex-wrap: wrap;
align-items:center;
justify-content:space-evenly;
}

.teamCard{
  width: 45%;
  height: 250px;
  text-align: center;
  border: 3px solid black;
}